		
*{
	padding: 0; 
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #eff8ff;
}

.contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

	.contenedor .carta{
		width: 200px;
		height: 200px;
		margin: 25px;
		border: 1px solid black;
		background: white;
	}

		.contenedor .carta img{
			width: 200px;
			height: 200px;
			padding: 5px;
		}
